langchain-huggingface
huggingface_hub
transformers
accelerate
bitsandbytes
langchain
langchain-community
faiss-cpu
python-dotenv
matplotlib
pandas
numpy==1.25.2
torch==2.6.0
streamlit
seaborn
Wikipedia
PyMuPDF
nltk
PyMySQL
sqlalchemy
easyocr


